<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>My Blog</title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="path/to/font-awesome/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/css/styles.css" />
        <script
            src="https://kit.fontawesome.com/67ab98674a.js"
            crossorigin="anonymous"
        ></script>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h1 class="dog">
                        <i class="fas fa-dog"></i>
                    </h1>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <!-- 6 -->
                    <li id="home"><a href="/">Home</a></li>
                    <li id="about"><a href="/about">About</a></li>
                    <li id="contact"><a href="/contact">Contact</a></li>
                    <li id="compose">
                        <a href="/compose"><i class="fas fa-pencil-alt"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <body></body>
    </head>
</html>
